<div class="container"> 
  <div class="row">

    <div class="page-header">
      <h1> Novo Gráfico </h1>
    </div>

    <%= render partial: "shared/navbar_collapsible"%>
  
    <div align="right">
      <%= render 'form' %>
    </div>

  </div>
</div>