<%= simple_form_for(@user, :html => {:class => 'form-vertical' }) do |f| %>


    <div class="places-form">

      <div class="field">
        <%= f.label :roles, "Perfis" %>
        <%= f.input :role_ids, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: @user.role_ids.first %>



      </div>

   <% end%>
