<div class="container">
  <div class="row">
    <div class="page-header">
<<<<<<< HEAD
      <h1>Criar nova Senha</h1>
=======
      <h1>Recuperar Senha</h1>
>>>>>>> approval

    </div>

    <%= render 'form-edit' %>
  </div>
<<<<<<< HEAD
</div>
=======
</div>

>>>>>>> approval
