<div class="container"> 
  <div class="row">

    <div class="page-header">
      <h1> Cadastrar Usuário </h1>
    </div>

    <div align="left">
      <%= render "users/form" %>
    </div>

  </div>
</div>