<%= simple_form_for(:user, :html => {:class => 'form-vertical' }) do |f| %>


    <div class="places-form">

      <div class="field">

       <div class="panel-group" id="accordion">
  	  <div class="panel panel-default">
    	   <div class="panel-heading">
      	     <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Gerente
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       <ul>
	<li>Criar Atendimento</li>


       </ul>
	<%= f.input :role_ids, :collection => Role.where(:name => "manager"), :as => :check_boxes, :label_method => lambda {|t| t.display_name.titleize}, :label => false, :item_wrapper_class => 'inline', checked_value: :role_ids%>


</div>
    </div>
  </div>
</div>


        <%= f.submit "Alterar permissões", :method => :get %>
      </div>

   <% end%>
