<%= simple_form_for(:user, :html => {:class => 'form-vertical' }) do |f| %>


    <div class="places-form">

      <div class="field">
        <%= f.label :roles, "Perfis" %>
        <%= f.input :role_ids, :collection => Role.where(Role.arel_table[:name].not_eq(:student)), :as => :check_boxes, :label_method => lambda {|t| t.display_name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: :role_ids %>


        <%= f.submit :method => :get %>
      </div>

   <% end%>
