<div class="container">
  <div class="row">

    <div class="page-header">
      <h1> Novo Relatório </h1>
      <%= render partial: "shared/navbar_collapsible"%>
    </div>

    <div align="right">
      <%= render 'form', :report => @report %>
    </div>

  </div>
</div>