<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Lista de Locais de Atendimentos</h1>
      <%= render partial: "shared/navbar_collapsible"%>
    </div>



    <div id='registros'>
      <table id="places" class="display">
        <thead>
        <tr>
        <th>Nome</th>
        <th>Escolher Local de Atendimento</th>
      </tr>
      </thead>

      <tbody>
      <% @active_places.each do |place| %>
          <tr>
            <td><%= place.try(:name) %></td>

                <td><%= bs_button_to  raw("<i class=\"fa %s\"></i>" %
                                ((cookies[:place_name] == place.name) ? "fa fa-check-square" : "fa-check-square-o")),
                                  set_place_path(place),tooltip: "Escolher Local de Atendimento",
                                  class: "btn btn-large btn-primary",
                                  method: :get %></td>

          </tr>
      <% end %>
      </tbody>

    </table>
  </div>
    <br/>
  </div>
</div>
